


body {

 
 /* background-color: #333;*/
}



table {

/*background-color: #333;*/
border-collapse: separate; /* Or do nothing, this is default */
  border-spacing: 15px; /* Only works if border-collapse is separate */
  border: 5px ridge black;

  box-shadow: 25px 25px 25px #999;
  border-radius: 30px;
  width: 95%;
  
  margin:auto;
  margin-top: 50px;
}





table, tr, th {
   /* border: 1px solid black;*/
}




.features-table {

  overflow: hidden;
  
  font-size: 40px;
  font-family: arial;
  font-weight:600;

}



.features-table tbody tr {  
   
}



.features-table tbody tr td {
   /* padding-top: .5em;
    padding-bottom: .5em;
    */    

margin:0;

     vertical-align: top; /* add vertical align top to fix this issue */
    display: table-cell;
    padding: 0px;
    border: dotted 2px #89E;
}


table tbody tr  {
  
  /* background: rgba(255,0,0,9);*/
  color: #fff;
 /* margin-bottom: 12px;*/

}


/* red green */
/*
tbody tr:nth-child(odd)   { background-image: linear-gradient(maroon,red); }
tbody tr:nth-child(even)    { background-image: linear-gradient(green,lime); }
*/



/* cornflower blue
tbody tr:nth-child(odd)   { background-image: linear-gradient(#6495ED,#5077BE); }
tbody tr:nth-child(even)    {background-image: linear-gradient(#6495ED,#5077BE); }
 */


/* brown
tbody tr:nth-child(odd)   { background-image: linear-gradient(#C9A5A5,#BC8F8F); }
tbody tr:nth-child(even)    {background-image: linear-gradient(#C9A5A5,#BC8F8F); }
*/


/* blk 
tbody tr:nth-child(odd)   { background-image: linear-gradient(#000,#333); }
tbody tr:nth-child(even)    {background-image: linear-gradient(#000,#333); }

*/


/* fushia */
tbody tr:nth-child(odd)   { background-image: linear-gradient(#FF00FF,#FF00FF); }
tbody tr:nth-child(even)    {background-image: linear-gradient(#fff,#fff); color:#333; }
