


@font-face
{
    font-family:btv;
    src:url('../fonts/REZ.ttf');
}


@font-face
{
    font-family:playv;
    src: url('../fonts/goodtimes.ttf');
}


@font-face
{
    font-family:digital;
    src: url('../fonts/digital-7.ttf');
}


@font-face
{
    font-family:typewriter;
    src: url('../fonts/TravelingTypewriter.ttf');
}



@font-face
{
    font-family:linowrite;
    src: url('../fonts/linowrite.ttf');
}


@font-face
{
    font-family:angelina;
    src: url('../fonts/angelina.ttf');
}


@font-face
{
    font-family:daniel;
    src: url('../fonts/daniel.ttf');
}


@font-face
{
    font-family:danielbd;
    src: url('../fonts/danielbd.ttf');
}



@font-face
{
    font-family:danila;
    src: url('../fonts/danila.ttf');
}

@font-face
{
    font-family:DreamCatcher;
    src: url('../fonts/DreamCatcher.ttf');
}



@font-face
{
    font-family:sweetiepie;
    src: url('../fonts/sweetiepie.ttf');
}


@font-face
{
    font-family:hopelessplace;
    src: url('../fonts/hopelessplace.ttf');
}


@font-face
{
    font-family:ieatcrayons;
    src: url('../fonts/ieatcrayons.ttf');
}



@font-face
{
    font-family:goodtimes;
    src: url('../fonts/goodtimes.ttf');
}



@font-face
{
    font-family:screenmatrix;
    src: url('../fonts/screenmatrix/ScreenMatrix.ttf');
}


@font-face
{
    font-family:led;
    src: url('../fonts/advanced_led_board-7.ttf');
}



@font-face
{
    font-family:electronic_highway_sign;
    src: url('../fonts/electronic_highway_sign.ttf');
}



@font-face
{
    font-family:old_stamper;
    src: url('../fonts/old_stamper/old_stamper.ttf');
}




@font-face
{
    font-family:junglefever.feverinlinenf;
    src: url('../fonts/junglefever.feverinlinenf.ttf');
}



@font-face
{
    font-family:stencil_army_ww_i;
    src: url('../fonts/stencil_army_ww_i/stencil_army_ww_i.ttf');
}

@font-face
{
    font-family:cargo_bay;
    src: url('../fonts/cargo_bay.ttf');
}


@font-face
{
    font-family:roundLed;
    src: url('../fonts/rounded_led_board-7.ttf');
}

@font-face
{
    font-family:bebas;
    src: url('../fonts/bebas.ttf');
}








