div#mp3_player {
	/*width:99%;*/
/*height:100px;*/
/*border: 3px solid red;*/
	padding:0;
}
div#mp3_player> div> audio {
	width:99%;
	/* background:#ccc; */
	

}



div#mp3_player> canvas {
	

	/*vertical-align:bottom;*/
	margin-bottom: 0px;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(255,255,255,0.2)));
	
	
}

canvas {
/*border: 3px solid blue;*/

}

#audio_box {background-color:green;}
