


.t2themeDefault a {
   
}


.t2theme1 a {
    background-color:red;
    font-family: goodtimes !important;
    font-size: 44px !important;
    font-weight: 400 !important;
}



.t2theme2 a {
    
	color: #0f0 !important;
    font-family: elec !important;
    font-size: 44px !important;
    font-weight: 400 !important;
}


.t2theme3 a {
    
	color: lightblue !important;
    font-family: led !important;
    font-size: 54px !important;
    font-weight: 400 !important;
}



.t2theme4 a {
    
	color: orange !important;
    font-family: screenmatrix !important;
    font-size: 54px !important;
    font-weight: 400 !important;
}



.t2theme5 a {
    
	color: green !important;
    font-family: roundLed !important;
    font-size: 4px !important;
    font-weight: 400 !important;
}


