


.adboxBase {
display: inline-block;
 text-align:center;
  vertical-align: middle;
     overflow-y:hidden;
    line-height:normal;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 12px;
/*border: 2px solid red; */
margin:50px;
}









/* default */
.t4default  .adbox {
width: 240px;
height: 240px;
border: 4px solid red; 

}


/* default  inner */
.t4default .innerAdBox {   
 border: 1px dotted green; 
 width:200px; height:208px; margin-left:30px;
overflow:hidden;
padding-top:7px;
}







/* post it */
  .t4theme1  .adbox {
width: 240px;
height: 240px;
background-image:url('../images/themes/postit/postfawn.svg');
background-repeat: no-repeat; background-size: 240px 240px;
}


/* post it  inner */
.t4theme1   .innerAdBox {   
 /*border: 1px solid green;  */
 width:200px; height:208px; margin-left:30px;
overflow:hidden;
padding-top:7px;
}









/* glossy */
  .t4theme2  .adbox {
width: 340px;
height: 340px;
background-image:url('../images/themes/glossy/purple200c.svg');
background-repeat: no-repeat;
 background-size: 340px 340px;
}


/* inner */
.t4theme2   .innerAdBox {
 /*border: 1px solid green; */
 width:300px; height:300px; margin-left:30px;
overflow:hidden;
padding-top:10px;
}











/* scrap*/
  .t4theme3  .adbox {
width: 440px;
height: 440px;
background-image:url('../images/themes/scrap/scrap1.svg');
background-repeat: no-repeat;
 background-size: 440px 440px;
/* border: 1px solid red; */
}


/* inner */
.t4theme3   .innerAdBox {
 /* border: 1px solid green;  */
 width:300px; height:300px; 
 margin-left:65px;
 margin-top:50px;
overflow:hidden;
padding-top:10px;
}











/* scrap*/
  .t4theme4  .adbox {
width: 340px;
height: 340px;
background-image:url('../images/themes/scrap/scrap2.svg');
background-repeat: no-repeat;
 background-size: 340px 340px;
}


/* inner */
.t4theme4   .innerAdBox {
 border: 1px solid green; 
 width:300px; height:300px; margin-left:30px;
overflow:hidden;
padding-top:10px;
}













/* scrap*/
  .t4theme5  .adbox {
width: 340px;
height: 340px;
background-image:url('../images/themes/scrap/scrap3.svg');
background-repeat: no-repeat;  background-size: 340px 340px;
}


/* inner */
.t4theme25  .innerAdBox {
 border: 1px solid green; 
 width:300px; height:300px; margin-left:30px;
overflow:hidden;
padding-top:10px;
}






/* polaroid*/
  .t4theme6  .adbox {
width: 300px;
height: 300px;
background-image:url('../images/themes/polaroid/polaroid300.png');
background-repeat: no-repeat;
 background-size: 300px 300px;
 /* position: absolute; top: 0; left: 0;  - stack */ 
}


/* polaroid*/
 .t4theme6   .innerAdBox {  
  padding-top:10px;
 width:280px; 
 height:244px;
 margin:auto;
 overflow:hidden;

 }
 

