



.t7ClockContainer
{
text-align:center;
font-family:digital;
width:90%;
font-size:75px;
/*display:inline-block;*/
border: 1px dotted black;
margin:auto;
}




div.t7ClockContainer  div.countdownSpan {
	
	text-align:center;
	margin:auto;
	 font-size:50%;
	 border: 1px dotted red;
	 color:red;
}