
/*
body {margin:auto;}
	
	#zone1 {
	
	border: 1px dotted #ccc;
	overflow:hidden;
	margin:auto;
	padding-top:100px;
	}
	
	
	
	*/
	
	
	video, img, iframe {
  opacity: 0.8;
}
	
	
	
	/* iframe{
   /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.6;
    opacity: 0.8;
}
	*/
	
	
	
	
	
    .t9default .carouselContainer {
      width: 664px;
      height: 384px;
      position: relative;
      margin: 0 auto 40px;
     /* border: 1px solid #f00;*/
     perspective: 1100px;
    }

	
	
    .t9theme1 .carouselContainer {
      width: 400px;
      height: 200px;
      position: relative;
      margin: 0 auto 40px;
     /* border: 1px solid #f00;*/
     perspective: 1100px;
    }
	

	
 .t9theme2 .carouselContainer {
      width: 400px;
      height: 200px;
      position: relative;
      margin: 0 auto 40px;
     /* border: 1px solid #f00;*/
     perspective: 1100px;
    }
	
	
	
    #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
     transform-style: preserve-3d;
    }

    .ready #carousel {
  
              transition: transform 1s;
    }

    #carousel.panels-backface-invisible figure {
   
              backface-visibility: hidden;
    }

	
	
figure {
  margin: 0;
}



	
   .t9default #carousel figure {
      display: block;
      position: absolute;
      /* width: 186px;
      height: 116px
	  */
	  
	  width: 640px;; /* make it 24 pxels less than container */
	  height: 360px;   /* make it 24 pxels less than container */
      left: 10px;
      top: 10px;
      border: 2px solid #222;
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
	  overflow:hidden;
	  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(rgba(255,255,255,0.3)));
    }
	
	
	
	
	   .t9theme1  #carousel figure {
      display: block;
      position: absolute;
      /* width: 186px;
      height: 116px
	  */
	  
	  width: 376px; /* make it 24 pxels less than container */
	  height: 176px;   /* make it 24 pxels less than container */
      left: 10px;
      top: 10px;
      border: 2px solid #222;
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
	  overflow:hidden;
	  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(rgba(255,255,255,0.3)));
    }
	
	
	
		
	
     .t9theme2  #carousel figure {
      display: block;
      position: absolute;
	  width: 376px; /* make it 24 pxels less than container */
	  height: 176px;   /* make it 24 pxels less than container */
      left: 10px;
      top: 10px;
     /* border: 2px solid #222;*/
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
	  overflow:hidden;
	  
background-image:url('../images/themes/glossy/purple200c.svg');
background-repeat: no-repeat;
 background-size: 376px 176px;
	  
	  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(rgba(255,255,255,0.3)));
    }
	
	
	
	
	

    .ready #carousel figure {
  
     transition: opacity 1s, transform 1s;
    }