
/*

#promofullscreenContainer{

text-align:center;
height:740px;



}

#promofullscreenContainer2
{

  text-align:center;
height:740px;

}

.promofullscreenContent
{

width: 100%;
color:#f00;
font-size:150px;
font-family:arial;
font-style:bold;
font-weight:800;
text-align:center;

margin-top: 200px;

}



*/



#main  

{
/*background-color:#ccc;*/

}




