


@font-face
{
    font-family:btv;
    src:url('../fonts/REZ.ttf');
}


@font-face
{
    font-family:playv;
    src: url('../fonts/goodtimes.ttf');
}


@font-face
{
    font-family:digital;
    src: url('../fonts/digital-7.ttf');
}




@font-face
{
    font-family:typewriter;
    src: url('../fonts/TravelingTypewriter.ttf');
}



@font-face
{
    font-family:linowrite;
    src: url('../fonts/linowrite.ttf');
}


@font-face
{
    font-family:angelina;
    src: url('../fonts/angelina.ttf');
}


@font-face
{
    font-family:daniel;
    src: url('../fonts/daniel.ttf');
}


@font-face
{
    font-family:danielbd;
    src: url('../fonts/danielbd.ttf');
}



@font-face
{
    font-family:danila;
    src: url('../fonts/danila.ttf');
}

@font-face
{
    font-family:DreamCatcher;
    src: url('../fonts/DreamCatcher.ttf');
}



@font-face
{
    font-family:sweetiepie;
    src: url('../fonts/sweetiepie.ttf');
}


@font-face
{
    font-family:hopelessplace;
    src: url('../fonts/hopelessplace.ttf');
}


@font-face
{
    font-family:ieatcrayons;
    src: url('../fonts/ieatcrayons.ttf');
}



@font-face
{
    font-family:goodtimes;
    src: url('../fonts/goodtimes.ttf');
}













